/* styles.css */
.section-title {
  font-size: 3rem;
  font-weight: 900;
  color: white; 
  text-align: center; 
  padding-top: 1rem; 
}

.highlight {
  color: #06b6d4; /* primary color */
  text-decoration: underline; 
}

@media (min-width: 640px) {
  .section-title{
    font-size: 3.75rem;  
  }
}

@media (min-width: 1024px) {
  .section-titlet {
    font-size: 4.25rem; /* lg:text-7xl corresponds to font-size: 4.25rem on large screens */
  }
}




