.navbar {
  color: #ffffff; 
  font-family: 'YourFontFamily', sans-serif; 
  background-color: black; 
  display: none; 
  position: fixed; 
  width: 100%; 
  top: 0; 
  left: 0; 
  z-index: 10; 
}

.container {
  width: 100vw;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 1.5rem; 
}


.logo {
  display: flex;
  align-items: center;
  font-weight: black; /* Equivalent to font-black */
  font-size: 1.5rem;
  color: #06b6d4;
}

.logo-link {
  display: flex; 
  align-items: center; 
  font-weight: 900; 
  font-size: 1.875rem; 
  margin-left: 0;
}

.icon {
  font-size: 5rem; 
  color: #06b6d4 ; 
  /* margin-right: 0.25rem; */
}

.logo-text {
  font-size: 1.875rem;
  color: white;
}


.nav  {
  display: flex; 
  align-items: center;
  font-size: 1rem; 
  justify-content: center; 
}

.nav-link:hover  {
  color: white;
  
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.3s;
}

.nav-link:hover  {
  color: #0891b2; 
}


.join-btn {
  margin-left: 1rem;
}

.button {
  padding-top: 2px;
  padding-bottom: 2px; 
  margin-left: 2rem; 
  background-color: #000; 
  border-style: none; 
  box-shadow: 0px 2px 6px rgba(6, 182, 212, 1); 
  border: 2px solid #06b6d4;
}

.button:hover {
  box-shadow: 0px 2px 6px rgba(6, 182, 212, 1);
}

@media (min-width: 768px) { 
  .navbar {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .logo-link {
    margin-left: 1.25rem; 
  }
}

@media (min-width: 768px) { 
  .nav {
    margin-left: auto; 
    margin-top: 0; 
  }
}

@media (min-width: 1024px) { 
  .nav {
    gap: 2rem; 
  }
}





